
{% extends "base.html" %}

{% block contents %}
    <div class="card">
        <div class="card-header">
            {{log.pk}}번째 방명록
        </div>
        <div class="card-body" style="padding:1.5rem">
            <blockquote class="blockquote mb-0" >
                <p style="padding:1rem">
                    <!-- 내용 -->
                    {{log.contents}}
                    <!-- 작성자 -->
                    <footer class="blockquote-footer">{{log.name}}
                        <cite title="Source Title">, Pungsaeng High School</cite>
                    </footer>
                </p>
            </blockquote>
        </div>
        <!-- 작성시간 -->
        <div class="card-footer text-muted">
            {{log.datetime}}
        </div>
    </div>

    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'delete' log.pk %}" class="btn btn-dark">삭제</a>
        <a href="{% url 'edit' log.pk %}" class="btn btn-dark">수정</a>
        <a href="{% url 'read_logs' %}" class="btn btn-dark active">목록</a>
    </div>

{% endblock contents %}